body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import './Components/App/App.css';
@import './Components/Main/Main.css';
@import './Components/Header/Header.css';
@import './Components/TaskList/TaskList.css';
@import './Components/Task/Task.css';
@import './Components/Input/Input.css';
